<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'/>

    <title>Vegas CMF - Documentation</title>

    <!-- Bootstrap core CSS -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/styles/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="http://highlightjs.org/static/styles/zenburn.css">
    <style>
        pre  {
            padding: 0;
            margin: 0;
        }
        code  {
            padding: 0;
            margin: 0;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="http://highlightjs.org/static/highlight.pack.js"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-version">
            <div class="navbar-button">
                <span class="glyphicon glyphicon-book"></span>
                <div class="pull-right"><span class="active">v: 1.0 </span> <span class="caret"></span></div>
            </div>
            <div class="navbar-more">
                <dl>
                    <dt>Versions</dt>
                    <dd><a href="#">latest</a></dd>
                    <dd><a href="#">develop</a></dd>
                    <dd><a href="#"><strong>1.0</strong></a></dd>
                </dl>
                <dl>
                    <dt>Downloads</dt>
                    <dd><a href="#">PDF</a></dd>
                    <dd><a href="#">HTML</a></dd>
                </dl>
                <dl>
                    <dt>On GitHub</dt>
                    <dd><a href="#">Edit</a></dd>
                </dl>
            </div>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Vegas CMF Documentation</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Learn</a></li>
                <li><a href="#">Get Started</a></li>
            </ul>
        </div>
    </div>
</div><div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-4 sidebar">
            <div class="sidebar-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search docs" />
                </form>
            </div>
                <ul class="nav nav-sidebar">
        <li><a href="#controller">Basic controller</a></li>
        <li><a href="#crud">Using CRUD controller</a></li>
        <li><a href="#crudUpload">CRUD with upload</a></li>
    </ul>
        </div>
        <div class="col-sm-12 main">
            <div class="main-header">
                <ol class="breadcrumb">
                        <li><a href="/">Vegas CMF</a></li>
    <li><a href="/1.0/guide.html">Guide</a></li>
    <li><a href="/1.0/guide.html#mvc">Mvc</a></li>
    <li><a href="/1.0/guide/mvc/controller.html">Controller</a></li>
                </ol>
            </div>
            <hr />
            <div class="main-body">
                
    <h2>Controller</h2>

    <h3 id="controller">Basic controller</h3>

    <p>
        Vegas CMF provides for you three types of abstracts to use as your controller parent. If you don't need CRUD
        operations, simple <code>Vegas\Mvc\Controller\ControllerAbstract</code> will fit best.
    </p>

<pre class="php"><code>namespace Foo\Controllers\Frontend;

use Vegas\Mvc\Controller\ControllerAbstract;

class FooController extends ControllerAbstract
{
    public function indexAction()
    {
        $this->view->foo = 'Vegas';
    }
}</code></pre>

    <p>
        <code>Vegas\Mvc\Controller\ControllerAbstract</code> has some useful methods that you can use:
    </p>

    <p>
        <br/>
        <strong>jsonResponse</strong><br/>
        Prepare JSON response. More about this method <a href="/1.0/guide/http/response/json.html">here</a>.
    </p>

    <p>
        <br/>
        <strong>_('Your string')</strong><br/>
        Alias for <code>$this->i18n->_()</code>. It will work only if internationalization service is provided.
    </p>

<pre class="php"><code>// ...
public function indexAction()
{
    $this->view->message = _('Your string');
}</code></pre>

    <p>
        <br/>
        In example below you can see Gettext based i18n service provider. For more informations about i18n adapters
        available in Phalcon, check this
        <a href="https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Translate/Adapter" target="_blank">
            Phalcon Incubator
        </a>.
    </p>

<pre class="php"><code>use Phalcon\DiInterface;
use Vegas\DI\ServiceProviderInterface;
use Phalcon\Mvc\Url as UrlResolver;

class I18nServiceProvider implements ServiceProviderInterface
{
    const SERVICE_NAME = 'i18n';

    /**
     * {@inheritdoc}
     */
    public function register(DiInterface $di)
    {
        $config = $di->get('config');
        $di->set('i18n', function() use ($config) {
            return new \Phalcon\Translate\Adapter\Gettext(array(
                'locale' => $config->application->language,
                'file' => 'messages',
                'directory' => APP_ROOT.'/lang'
            ));
        });
    }

    /**
     * {@inheritdoc}
     */
    public function getDependencies()
    {
        return array();
    }
}</code></pre>

    <p>
        <br/>
        <strong>throw403</strong><br/>
        Throws 403 forbidden exception that will be catched by <code>Vegas\Mvc\Dispatcher\ExceptionResolver</code>.
    </p>

<pre class="php"><code>// ...

public function indexAction()
{
    $this->throw403('Your optional message');
}</code></pre>

    <p>
        <br/>
        <strong>throw404</strong><br/>
        Throws 404 page not found exception that will be catched by <code>Vegas\Mvc\Dispatcher\ExceptionResolver</code>.
    </p>

<pre class="php"><code>// ...
{
    $this->throw404('Your optional message');
}</code></pre>

    <p>
        <br/>
        <strong>throw500</strong><br/>
        Throws 500 internal error exception that will be catched by <code>Vegas\Mvc\Dispatcher\ExceptionResolver</code>.
    </p>

<pre class="php"><code>// ...

public function indexAction()
{
    $this->throw500('Your optional message');
 }</code></pre>

    <br/>
    <h3 id="crud">Using CRUD controller</h3>

    <p>
        For basic CRUD operations, we can use <code>Vegas\Mvc\Controller\Crud</code> controller with
        <a href="/1.0/guide/mvc/scaffolding.html">scaffolding</a> adapter.
    </p>

    <p>
        Basic setup requires form and model name only. In example below we will also use CRUD events from
        <code>Vegas\Mvc\Controller\Crud\Events</code>. Thanks to them we can change or add functionality to basic
        CRUD actions without rewriting them:
    </p>

<pre class="php"><code>namespace Foo\Controllers\Backend;

use Vegas\Mvc\Controller\Crud;
use Vegas\Mvc\Controller\Crud\Events;

class FooController extends Crud
{
    protected $formName = 'Foo\Forms\Bar';
    protected $modelName = 'Foo\Models\Bar';

    public function initialize()
    {
        parent::initialize();

        // attach events here
        $this->dispatcher->getEventsManager()->attach(Events::AFTER_SAVE, function(){
            $this->redirect();
        });

        $this->dispatcher->getEventsManager()->attach(Events::AFTER_DELETE, function() {
            $this->redirect();
        });
    }

    private function redirect()
    {
        $this->response->redirect(array(
            'for' => 'foo/crud',
            'action' => 'index',
        ));
    }

    public function indexAction()
    {
        // list of records
    }
}</code></pre>

<table>
    <tbody>
        <tr>
            <td width="50%">

                <p>
                    <br/>
                    Example ODM model for Foo controller:
                </p>

<pre class="php"><code>namespace Foo\Models;

use Vegas\Db\Decorator\CollectionAbstract;

class Fake extends CollectionAbstract
{
    public function getSource()
    {
        return 'fake';
    }
} </code></pre>

            </td>
            <td width="50%">

                <p>
                    <br/>
                    Example form for Foo controller:
                </p>

<pre class="php"><code>namespace Foo\Forms;

use Phalcon\Forms\Element\Text;
use Phalcon\Validation\Validator\PresenceOf;

class Bar extends \Phalcon\Forms\Form
{
    public function initialize()
    {
        $field = new Text('fake_field');
        $field->addValidator(new PresenceOf());
        $this->add($field);
    }
}</code></pre>

            </td>
        </tr>
    </tbody>
</table>

<p>
    <br/>
    Simple <code>routing.php</code> for CRUD actions:
</p>

<pre class="php"><code>return array(
    'foo/crud' => array(
        'route' => '/foo/:action/:params',
        'paths' => array(
            'module' => 'Foo',
            'controller' => 'Backend\Foo',
            'action' => 1,
            'params' => 2
        )
    )
);</code></pre>

    <p>
        <br/>
        Example volt templates for described controller may look like this:
    </p>

<pre class="twig"><code>{# ../app/modules/Foo/views/backend/foo/new.volt #}
&lt;div class="row header"&gt;
    &lt;div class="col-md-6"&gt;
        &lt;h3&gt;New record&lt;/h3&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="form-page"&gt;
    &lt;div class="row form-wrapper"&gt;
        &lt;div class="col-md-6 column"&gt;
            &lt;form action="{{ url.get(['for':'foo/crud', 'action':'create']) }}" method="post" role="form"&gt;
               {{ partial('backend/foo/_form', ['form': form]) }}
            &lt;/form&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

<pre class="twig"><code>{# ../app/modules/Foo/views/backend/foo/edit.volt #}
&lt;div class="row header"&gt;
    &lt;div class="col-md-6"&gt;
        &lt;h3&gt;Update record&lt;/h3&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="form-page"&gt;
    &lt;div class="row form-wrapper"&gt;
        &lt;div class="col-md-6 column"&gt;
            &lt;form action="{{ url.get(['for':'foo/crud', 'action':'update', 'params': record._id]) }}" method="post" role="form"&gt;
               {{ partial('backend/foo/_form', ['form': form]) }}
            &lt;/form&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

<pre class="twig"><code>{# ../app/modules/Foo/views/backend/foo/_form.volt #}
{% for element in form %}
    {% do element.setAttribute('class', element.getAttribute('class')~' form-control') %}
    {% set hasErrors = form.hasMessagesFor(element.getName()) %}

    &lt;div class="clearfix form-group{% if hasErrors %} has-error{% endif %}"&gt;
        &lt;label for="{{ element.getName() }}"&gt;{{ element.getLabel() }}&lt;/label&gt;
        {% if hasErrors %}
            &lt;span class="help-block"&gt;
                {% for error in form.getMessagesFor(element.getName()) %}
                    {{ error }}
                {% endfor %}
            &lt;/span&gt;
        {% endif %}
        {{ element }}
    &lt;/div&gt;
{% endfor %}

&lt;div class="form-group"&gt;
    &lt;button type="submit" class="btn btn-flat success"&gt;Save&lt;/button&gt;
    &lt;a href="{{ url.get(['for':'foo/crud', 'action':'index']) }}" class="btn pull-right"&gt;Cancel&lt;/a&gt;
&lt;/div&gt;</code></pre>

    <h3 id="crudUpload">CRUD with upload</h3>

    <p>
        Detailed description of <code>Vegas\Mvc\Controller\CrudUpload</code> is available in the
        <a href="/1.0/guide/media/upload/controller.html">media upload controller</a> part of documentation.
    </p>
            </div>
            <hr />
            <div class="main-footer">
    <div role="contentinfo">
        <p>
            &copy; 2014 Amsterdam Standard Sp. z o.o.
        </p>
    </div>
</div>
        </div>
    </div>
</div>
<script>
    hljs.configure({tabReplace: '    '});
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>

